*{
  font-family: Helvetica, sans-serif;
}

body{
  background-color: rgb(18, 26, 31);
  padding: 60px;
}

input{ 
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 260px;
  overflow: hidden;
}

.car img{
  max-height: 100px;
}

a{
  text-decoration: none;
}

.card:hover{
  transform: scale(1.03);
}
